* {
    background-color: #cbdeb4;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
main {
    display: flex;
    flex-direction: column;
    margin: 8%;
}
header {
    text-align: center;
}
#title {
    font-weight: 800;
    padding: 2%;
}
#subheading {
    font-size: 20px;
    font-weight: 200;
}
#scoreboard {
    display: none;
    font-size: 20px;
    padding: 2%;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.button {
    font-size: 18px;
    text-align: center;
    width: 40%;    
    color: #e3ecd9;
    background-color: #4e5744;
    border: #353b2e;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}
.button:hover {
    color: #f5ffeb;
    background-color: #7a8969;
}
#back-button, #clear-scores {
    display: none;
}
#enter-score {
    display: none;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    padding: 2%;
}
#initials {
    font-size: 18px;
}
#submit {
    margin-top: 20px;
}
#answer-container {
    flex-basis: 100%;
    display: none;
    flex-wrap: wrap;
}
.answer-button {
    flex-basis: 80%;
    text-align: left;
}
#real-answer {
    display: none;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    padding: 3%;
    margin-top: 15px;
}

/* Tablet Screen Size */
@media screen and (min-width: 481px) {
    nav {
        font-size: 30px;
    }
    #title {
        font-size: 45px;
    }
    #subheading {
        font-size: 30px;
    }
    #scoreboard {
        font-size: 30px;
    }
    .button {
        font-size: 25px;
    }
    #real-answer{
        font-size: 35px;
    }
    #enter-score{
        font-size: 25px;
    }
    #initials {
        font-size: 20px;
    }
    #submit{
        margin-top: 40px;
    }
}
/* 
/* Small Laptop Screen Size */
/* @media screen and (min-width: 769px) {
    nav {
        font-size: 35px;
    }
    #title {
        font-size: 50px;
    }
    #subheading {
        font-size: 32px;
    }
    #scoreboard {
        font-size: 35px;
    }
    .button {
        font-size: 30px;
    }
    #real-answer {
        font-size: 40px;
    }
    #enter-score {
        font-size: 30px;
    }
    #initials {
        font-size: 28px;
    }
    #submit{
        margin-top: 55px;
    }
} */ */
/* Desktop Screen Size
@media screen and (min-width: 1025px) {
    nav {
        font-size: 35px;
    }
    #title {
        font-size: 55px;
    }
    #subheading {
        font-size: px;
    }
    #scoreboard {
        font-size: 35px;
    }
    .button {
        font-size: 30px;
    }
    #real-answer {
        font-size: 40px;
    }
    #enter-score {
        font-size: 32px;
    }
    #initials {
        font-size: 30px;
    }
    #submit{
        margin-top: 55px;
    }
    


}

/* Large Screen Size */
/* @media screen and (min-width: 1201px) {
    


} */ */