* {
    background-color: #cbdeb4;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
main {
    margin: 8%;
}
header {
    text-align: center;
}
#title {
    font-weight: 800;
}
#subheading {
    font-size: 20px;
    font-weight: 200;
}
#scoreboard {
    display: none;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    font-size: 20px;
    text-align: center;
    width: 40%;    
    color: #e3ecd9;
    background-color: #4e5744;
    padding: 2%;
}
#back-button, #clear-scores {
    display: none;
}
#enter-score {
    display: none;
    text-align: center;
}
#answer-container {
    display: none;
}
#answer {
    display: none;
}